{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit To Do</title>
    </head>
    <body>
        <main>
            <h1>Update list</h1>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
