{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do Lists!</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p> <a href="{% url 'todo_list_create' %}">Create New List</a></p>
                <p> <a href="{% url 'todo_item_create' %}">Create New Item</a></p>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in list  %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' category.id %}">{{ category.name }}</a></td>
                        <td>{{category.items.all | length }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
